*{
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(22, 22, 36);
  color: azure;
}
a{
  text-decoration: none;
  color: #fa813b;
  transition: .5s;
}
a:hover{
  color: #f7d354;
}